
body{
    background-image: url('../files/designImg/plbg.jpeg');
    background-position: center;
    background-size: fill;
}
#mLogo{
    margin-left: 10px;
    height: 30px;
    width: 10%;
}

#navVr{
    border-left: 2px solid black; 
    height: 26px;
}
#signUp{
    text-decoration:none;
    color: #2d5550;
}
#navSun{
    color: #0B6477;
    margin-right: 30px;
    margin-bottom: 15px;
}
#nav-text{
    color: #0B6477;
}
#seNav{
    background-color: #0B6477;
    
}
table,th,td{
    border-collapse: collapse;
    padding: 10px;
    padding-right: 100px;
    border: 1px solid black;
}
th{
    background-color: #0B6477;
    color: white;
}
#containeR{
    height: 50%;
    margin: 40px;
    padding: 20px;
}
#timinG{
    border: 1px solid black;
    padding: 10px;
    height: 150px;
    width: 300px;
    margin-top: 90px;
    border-radius: 10px;
}
.cTiming{
    color: #0B6477;
    font-size: 20px;
    font-weight: bold;
}
.pBtn{
    background-color: #012f3a;
    color: white;
    border-radius: 10px;
    border: none;
}
#btn{
    border:none;
    background-color: transparent;
    color: white;
}

#btn:hover{
    background-color: #012f3a;
    color: white;
    border-radius: 10px;
}
